/// Mixin para determinar el modelo de Layout.
/// @group   Layout
/// @require {boolean} $Display
/// @param   {boolean} $Display - Determina si un elemento sera un flex container o un grid container Acepta 2 valores [flex | grid]
///
/// @example scss
///
/// .container{
///     @include Layout(flex);
/// }
///
/// @example css
///
/// .container{
///     display: -ms-flexbox;
///     display: flex;
///     -ms-flex-wrap: wrap;
///     flex-wrap: wrap;
/// }



@mixin Layout($Display){
    @if $Display == flex{
        display     : flex;
        @include wrap(w);
    }@else if $Display == grid{
        display     : grid;
    }@else{
        @warn "Error valor no permitido";
    }
}

@mixin LayoutCss($Display){
    .#{$nameSpace}-layout-#{$Display}{
        @include Layout($Display);
    }
}

/// Mixin para la creacion de un ag-container.
/// @group   Layout
/// @require {boolean} $Display
/// @param   {boolean} $Display - Determina si un elemento sera un flex container o un grid container Acepta 2 valores [flex | grid]
///
/// @example scss
///
/// .container{
///     @include container(flex);
/// }
///
/// @example css
///
/// .container{
///     max-width: 1200px;
///     margin-left: auto;
///     margin-right: auto;
///     width: 100%;
///     display: -ms-flexbox;
///     display: flex;
///     -ms-flex-wrap: wrap;
///     flex-wrap: wrap;
/// }
///


@mixin container($Display){
    max-width       : $Max-Width;
    margin-left     : auto      ;
    margin-right    : auto      ;
    width           : 100%      ;
    @include Layout($Display)   ;
}

@mixin containerCss($Display){
    .#{$Container}-#{$Display}{
        @include container($Display);
    }
}


