/// Mapa de variables para el mixin direccion()
/// @group   Flexbox

$FlexDirection:(
    c   :   column,
    cr  :   column-reverse,
    r   :   row,
    rr  :   row-reverse
) !default;

/// Mixin para determinar la direccion de los items
/// Se debe de aplicar al elemento que tenga el mixin Layout() o Container()
/// @group   Flexbox
/// @require {map} $Direccion
/// @param   {map} $Direccion - Variable para optener un valor del mapa $FlexDirection
/// @example scss
///
/// .container{
///     @include direccion(c);
/// }
///
/// @example css
///
/// .container{
///    -ms-flex-direction: column;
///    flex-direction: column;
/// }

@mixin direccion($Direccion){
    @if map-has-key($FlexDirection,$Direccion){
        flex-direction:#{map-get($FlexDirection,$Direccion)};
    }
}

@mixin direccionCss($Direccion,$Breackpoint){
    @if map-has-key($FlexDirection,$Direccion){
        @include MediaQuery($Breackpoint){
            .#{$Breackpoint}-flex-#{$Direccion}{
                flex-direction:#{map-get($FlexDirection,$Direccion)};
            }
        }
    }
}

/// Mapa de variables para el mixin wrap()
/// @group   Flexbox

$FlexWrap:(
    w   :wrap,
    wr  :wrap-reverse,
    nw  :nowrap
) !default;

/// Mixin para determinar si los items estaran en una linea o no
/// Se debe de aplicar al elemento que tenga el mixin Layout() o Container()
/// @group   Flexbox
/// @require {map} $Wrap
/// @param   {map} $Wrap - Variable para optener un valor del mapa $FlexWrap
/// @example scss
///
/// .container{
///     @include wrap(w);
/// }
///
/// @example css
///
/// .container{
///     -ms-flex-wrap:wrap-reverse;
///     flex-wrap:wrap-reverse
/// }

@mixin wrap($Wrap){
    @if map-has-key($FlexWrap,$Wrap){
        flex-wrap:#{map-get($FlexWrap,$Wrap)};
    }
}

@mixin wrapCss($Wrap,$Breackpoint){
    @if map-has-key($FlexWrap,$Wrap){
        @include MediaQuery($Breackpoint){
            .#{$Breackpoint}-flex-#{$Wrap}{
                flex-wrap:#{map-get($FlexWrap,$Wrap)};
            }
        }
    }
}

/// Mapa de variables para el mixin Align()
/// @group   Flexbox

$FlexAlign :(
    Justify     :space-between,
    Distribute  :space-around,
    Start       :flex-start,
    Center      :center,
    End         :flex-end
)!default;

/// Mapa de variables para el mixin Align()
/// @group   Flexbox

$FlexAxis :(
    cross   :cross,  //Si los items se alinearan al eje cross
    main    :main,   //Si los items se alinearan al eje main
    axis    :flex    //Si los items se alinearan en los 2 ejes
)!default;

/// Mixin para la alineacion de los items en el main axis o cross axis
/// Se debe de aplicar al elemento que tenga el mixin Layout() o Container()
/// @group   Flexbox
/// @require {map} $Wrap
/// @param   {map} $Axis  - Variable para optener un valor del mapa $FlexAxis
/// @param   {map} $Align - Variable para optener un valor del mapa $FlexAlign
/// @example scss
///
/// .container{
///     @include Align(cross,Justify);
/// }
///
/// @example css
///
/// .container{
///   -ms-flex-pack: justify;
///   justify-content: space-between;
/// }

@mixin Align($Axis,$Align){
    @if map-has-key($FlexAxis,$Axis){
        @if $Axis == main{
            @if map-has-key($FlexAlign,$Align){
                justify-content:#{map-get($FlexAlign,$Align)};
            }
        }@else if $Axis == cross{
            @if map-has-key($FlexAlign,$Align){
                @if $Align == Start or $Align == Center or $Align == End{
                    align-items:#{map-get($FlexAlign,$Align)};
                    align-content:#{map-get($FlexAlign,$Align)};
                }@else{
                    @warn "Error valor no permitido";
                }
            }
        }@else if $Axis == axis{
            @warn "Valor no valido para la version sass";
        }
    }
}

@mixin AlignCss($Axis,$Align,$Breackpoint){
    @if map-has-key($FlexAxis,$Axis){
        @if $Axis == main{
            @if map-has-key($FlexAlign,$Align){
                @include MediaQuery($Breackpoint){
                    .#{$Breackpoint}-#{$Axis}-#{$Align}{
                        justify-content:#{map-get($FlexAlign,$Align)};
                    }
                }
            }
        }@else if $Axis == cross{
            @if map-has-key($FlexAxis,$Axis){
                @include MediaQuery($Breackpoint){
                    @if $Align == Start or $Align == Center or $Align == End{
                        .#{$Breackpoint}-#{$Axis}-#{$Align}{
                            align-items:#{map-get($FlexAlign,$Align)};
                            align-content:#{map-get($FlexAlign,$Align)};
                        }
                    }@else{
                        @warn "Error valor no permitido";
                    }
                }
            }
        }@else if $Axis == axis{
            @if map-has-key($FlexAlign,$Align){
                @include MediaQuery($Breackpoint){
                    @if $Align == Center{
                        .#{$Breackpoint}-#{$Axis}-#{$Align}{
                            justify-content:#{map-get($FlexAlign,$Align)};
                            align-items:#{map-get($FlexAlign,$Align)};
                            align-content:#{map-get($FlexAlign,$Align)};
                            text-align:center;
                        }
                    }@else{
                        @warn "Error valor no permitido";
                    }
                }
            }
        }
    }
}
