/// ArronaGrid es una libreria sass para la maquetacion de sitios web contruida con la especificacion css flexbox
/// Importe el achivo ArronaGrid.scss en su proyecto para empezar usarlo

/// Compila todo el core correspondiente.
/// Acepta 2 valores sass(por defecto y recomendado) y css.
/// @group Variables Globales

$Core   :scss !default;

/// Soporte para caracteristicas css.
/// Acepta 3 valores all(por defecto), grid, beta.
/// @group Variables Globales

$Version :all !default;

/// Selectores para el container y el item
/// puedes modificarlos de acuerdo a las necesidaes del tu proyecto
/// @group Variables Globales

$nameSpace  : ag                       !default;
$Container  : #{$nameSpace}-container  !default;
$Item       : #{$nameSpace}-item       !default;

/// Ancho maximo para los contenedores
/// @group   Layout

$Max-Width  : 1200px    !default;

/// Variable para sobreescribir la propiedad max-width en base al viewport
/// @group   Layout

$FullLayout       : 100vh     !default;

/// Variable para sobreescribir la propiedad max-width en base a un contenedor
/// @group   Layout

$Full             : 100%      !default;

/// Variables para la creacion de una rejilla
/// @group Grid

$Column:12;

/// Separacion entre los items
/// @group Variables Globales

$Gap       :1rem !default;

/// Mapa de variables para el mixin MediaQuery()
/// @group Layout

$Breackpoints : (
    xs: 240px,
    s:  320px,
    m:  480px,
    st: 600px,
    t:  768px,
    l:  1024px,
    xl: 1200px
)   !default;

@import "sass/base.scss";
@import "sass/buttons.scss";
@import "sass/mediaQuery.scss";
@import "sass/flexbox.scss";
@import "sass/grid.scss";
@import "sass/core.scss";
@import "sass/helps.scss";
@import "sass/corecss.scss";
