/// Mixin para la creacion de un ag-button.
/// @group Bottons
/// @require {number} $Gap
/// @param   {number} $Gap[1rem] - Separacion entre elementos
///
/// @example scss
///
/// .button{
///     @include button($Gap);
/// }
///
/// @example css
///
/// .button{
///    display         : inline-block  ;
///    padding         : .8em 1.4em    ;
///    cursor          : pointer       ;
///    border          : none          ;
///    text-decoration : none          ;
///    margin-right    : 1rem          ;
///    margin-left     : 1rem          ;
/// }

@mixin ag-Button($Gap) {
    display         : inline-block  ;
    padding         : .8em 1.4em    ;
    cursor          : pointer       ;
    border          : none          ;
    text-decoration : none          ;
    margin-right    : $Gap          ;
    margin-left     : $Gap          ;
}

/// Mixin para redondear los bordes de un ag-button.
/// @group Bottons
///
/// @example scss
///
/// .button{
///     @include button($Gap);
///     @include radius;
/// }
///
/// @example css
///
/// .button{
///    display         : inline-block  ;
///    padding         : .8em 1.4em    ;
///    cursor          : pointer       ;
///    border          : none          ;
///    text-decoration : none          ;
///    margin-right    : 1rem          ;
///    margin-left     : 1rem          ;
///    border-radius   : 1rem          ;
/// }

@mixin ag-Radius{
    border-radius:1rem;
}

@mixin ag-Button-css($NameSpace,$Gap){
    .#{$NameSpace}-Button{
        @include ag-Button($Gap);
    }
}

@mixin ag-Button-Radius-css($NameSpace){
    .#{$NameSpace}-Button-Radius{
        @include ag-Radius;
    }
}
